<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 声明WRITE_SECURE_SETTINGS权限（需要通过ADB授予） -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImeSwitch"
        tools:targetApi="31">

        <!-- 主Activity将在后续任务中配置 -->
        
        <!-- TileService将在后续任务中配置 -->

    </application>

</manifest>
